*{
    margin: 0;
    padding: 0;
}

html {
    display: grid;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.center {
    text-align: center;
    margin-top: 15em;
}

.searchIcon {
    position: absolute;
    margin-left: 1.3em;
    margin-top: 1em;
    color: lightgray;
}

#search {
    border: thin solid lightgrey;
    border-radius: 50px;
    padding: 10px;
    height: 30px;
    width: 500px;
    margin: 20px;
    text-indent: 2em;
}

#search:hover, #search:focus {
    outline: none;
    border: thin solid lightgrey;
    box-shadow: 1px 1px 5px lightgrey;
}

button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: black;
    margin: 5px;
}

button:hover {
    box-shadow: 1px 1px 3px lightgrey;
    border: thin solid lightgrey;
    cursor: pointer;
}

button:focus {
    outline: blue solid thin;
}

header {
    margin: 0.5em;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navBar {
    display: inline-flex;
    align-items: center;
}

li {
    font-size: smaller;
    padding-inline: 8px;
}

#googleAccountImg {
    border-radius: 50%;
}